 <div class="login-page-box">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-box">
<h2>Update your Profile <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= form_for @user, html: { multipart: true } do |f| %>

    <div class="field">
      <%= f.label :employee_no %>
      <%= f.text_field :employee_no, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <br/>

    <div class="field">
        <%= f.label :date_of_birth %><br />
        <%= f.date_select :date_of_birth, start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today, class: "form-control" %></div>

        <br/>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

     <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :mobile %>
      <%= f.text_field :mobile, class: "form-control" %>
    </div>
<br/>
    <div class="field">
      <%= f.label :contract_type %> <br/>
      <%= f.select :contract_type, options_for_select(contract_type_options), { prompt: 'Contract Type'} %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :role %>
      <%= f.text_field :role, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :assigned_hours %>
      <%= f.number_field :assigned_hours, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :NI %>
      <%= f.text_field :NI, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :work_permit %>
      <%= f.text_field :work_permit, class: "form-control" %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary"  %>
  </div>
<% end %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary"  %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>
</div>