<p id="notice"><%= notice %></p>


    <script>

        $(function() { // document ready

            $('#calendar').fullCalendar({

                events: '/events.json',

                defaultView: 'agendaDay',
                editable: true,
                selectable: true,
                eventLimit: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaSevenDay'
                },
                views: {
                    agendaSevenDay: {
                        type: 'agenda',
                        duration: { days: 7 },
                        groupByResource: true
                    }
                },

                //// uncomment this line to hide the all-day slot
                allDaySlot: false,


                events: [
                    { id: '1', resourceId: 'a', start: '2016-04-17', end: '2016-04-19', title: 'event 1' },
                    { id: '2', resourceId: 'a', start: '2016-04-18T09:00:00', end: '2016-04-19T14:00:00', title: 'event 2' },
                    { id: '3', resourceId: 'b', start: '2016-04-18T12:00:00', end: '2015-12-08T06:00:00', title: 'event 3' },
                    { id: '4', resourceId: 'c', start: '2015-12-07T07:30:00', end: '2015-12-07T09:30:00', title: 'event 4' },
                    { id: '5', resourceId: 'd', start: '2015-12-07T10:00:00', end: '2015-12-07T15:00:00', title: 'event 5' }
                ],

                resources: function (callBack) {
                    callBack([
                        { id: 'a', title: 'Room A', altTitle: 'Sophie' },
                        { id: 'b', title: 'Room B', altTitle: 'Reshma' , eventColor: 'green' },
                        { id: 'c', title: 'Room C', altTitle: 'Carol' , eventColor: 'orange' },
                        { id: 'd', title: 'Room D', altTitle: 'Rashid' , eventColor: 'red' }
                    ]);
                },
                resourceRender: function (dataTds, eventTd) {
                    console.log('resourcerender');
                    console.log(eventTd);
                    console.log(dataTds);
                    var textElement = eventTd.empty();
                    textElement.append('<b>' + dataTds.altTitle + '</b>');
                },
            });

        });

    </script>
<h1>Staff Rota</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Department</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.department %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New shift', new_event_path %>

<br> 

<div id="calendar"></div>
