<div class="row">
	<div class="col-md-12"  id ="shifts" >
		<h2 id="week">
			<%= link_to "<", date: @date.prev_week %>
			<%= @date.strftime("%B %Y") %>
			<%= link_to ">", date: @date.next_week%>
		</h2>
		<% @shifts.group_by(&:user).each do |user, shifts| %>
			<%= shifts.first.user.first_name %>
		  	<%= calendar @date do |date| %>
				<%= date.day %>
				<% @shifts_by_date = shifts.group_by(&:date)%>
				<% if @shifts_by_date[date] %>
					<% @shifts_by_date[date].each do |shift| %>
						<li><b>Start:</b><%= shift.start_time %></li>
						<li><b>End:</b><%= shift.end_time%></li>
						<li><b>Department:</b><%= shift.department%></li>
						<li><b>Break:</b><%= shift.break%></li>
						<%=link_to 'Edit', shift %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<% if can? :manage, :all %>
  <%= link_to 'New Shift', new_shift_path %>
<% end %>

 