<!DOCTYPE html>
<html>
<head>
  <title>ScheduLink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "https://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "https://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
    <link href='http://fullcalendar.io/js/fullcalendar-scheduler-1.1.0/lib/fullcalendar.min.css' rel='stylesheet' />

  

  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/nav' %>
<div class="container">
<%= render 'layouts/messages' %>

<%= yield %>

<%= render 'layouts/footer' %>
    <script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.1.0/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.1.0/lib/fullcalendar.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.1.0/scheduler.min.js'></script>
</body>

</html>